* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #00a2ff;
    color: #fff;
    box-shadow: 1px 1px 2px #0072ff;
    border-radius: 50px;
    padding: 5px 15px;
    font-size: 1.2rem;
    cursor: pointer;
}

h1:hover {
    background: #0072ff;
    transition: .3s;
}

small {
    font-size: 1rem;
    opacity: .2;
    font-weight: 700;
    display: block;
    color: #000;
    margin: 4rem;
}